/dev/mali0                0666   system     system
/dev/ump                  0666   system     system
/dev/ion		  0666	 root	    root
/dev/graphics/fb0	  0660   system     graphics
/dev/graphics/galcore     0666   system     graphics
/dev/graphics/galcore_smmu 0666   system     graphics
/sys/devices/system/cpu/cpu0    cpufreq/scaling_available_frequencies     0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/scaling_max_freq                  0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/scaling_min_freq                  0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/scaling_setspeed                  0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/scaling_governor                  0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/cpuinfo_max_freq                  0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/cpuinfo_min_freq                  0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/cpuinfo_cur_freq                  0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/interactive/timer_rate            0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/interactive/timer_slack           0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/interactive/min_sample_time       0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/interactive/hispeed_freq          0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/interactive/go_hispeed_load       0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/interactive/above_hispeed_delay   0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/interactive/target_loads          0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/interactive/boost                 0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/interactive/boostpulse            0220    system  system
/sys/devices/system/cpu/cpu0    cpufreq/interactive/boostpulse_duration   0664    system  system
/sys/devices/system/cpu/cpu0    cpufreq/interactive/io_is_busy            0664    system  system
/sys/devices/platform/comip-hotplug    hotplug/cpus_max                   0660    system  system
/sys/devices/platform/comip-hotplug    hotplug/cpus_min                   0660    system  system
/sys/devices/platform/comip-hotplug    hotplug/boost                      0660    system  system
/sys/devices/platform/comip-hotplug    hotplug/boost_duration             0660    system  system
/sys/devices/platform/mali.0     boost_frequency   0220   system  system
/sys/devices/platform/mali.0     clk_frequency   0660    system  system
/sys/devices/platform/mali.0     temperature_control   0660    system  system
/sys/devices/platform/mali.0     dvfs_control   0660    system  system
/sys/devices/platform/mali.0     debug_level   0660    system  system
/sys/devices/platform/mali.0     perf_level   0660    system  system

/dev/lmi3                  0660   radio     system

# sysfs properties
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input
/dev/input/event*   enable      0660  root   input
